@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: white;
  min-width: 100vw;
}

:root {
  --background-color: #161618;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.parallax-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.parallax {
  overflow: hidden;
  letter-spacing: 0px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  height: 90px;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
.parallax .text {
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  bottom: -25%;
  left: 50%;
  margin-left: -500px;
  margin-bottom: -500px;
  border-radius: 35%;
  animation: wave 4s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

html::-webkit-scrollbar-track {
  z-index: 10;
  border-radius: 10px;
  background-color: hsla(268, 100%, 10%, 0.2);
}

html::-webkit-scrollbar {
  z-index: 10;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  z-index: 10;
  border-radius: 20px;
  background-color: rgb(64, 0, 138);
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    transparent,
    rgba(0, 0, 0, 0.1) 100%
  );
}
