@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #161618;
  overflow-x: hidden !important;

}


html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  background-color: var(--background-color);
  color: white;
  overflow-x: hidden !important;
  min-width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
